version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    assignees:
      - kazkansouh

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    assignees:
      - kazkansouh
    ignore:
      # version 11 of got is the last to support commonjs, so prevent upgrading to version 12+
      - dependency-name: got
        versions: [">=12.0.0"]
      # version 8 of asn1-ts is the last to support commonjs, so prevent upgrading to version 9+
      - dependency-name: asn1-ts
        versions: [">=9.0.0"]
    groups:
      typescript-eslint:
        patterns: ["@typescript-eslint/*"]
    ignore:
      - dependency-name: "@types/node"
        versions: [ "25.x", "27.x", "29.x" ]
